{{ define "main" }}

  {{- $config := site.Params.ananke.home -}}
  {{- $text_alignment := "tc-l" -}}
  {{- if eq $config.content_alignment "left" -}}
    {{- $text_alignment = "tl-l" -}}
  {{- else if eq $config.content_alignment "right" -}}
    {{- $text_alignment = "tr-l" -}}
  {{- end -}}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 {{ $text_alignment }} center mw8 lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
    {{ .Content }}
  </article>

  {{ $mainSections := site.Params.mainSections | compare.Default (collections.Slice "post") }}
  {{ $allProjects := collections.Where $.Site.RegularPages "Section" "in" $mainSections }}
  {{ $featured := (where $allProjects ".Params.featured" true).ByDate.Reverse }}
  {{ $allSorted := $allProjects.ByDate.Reverse }}

  {{ if compare.Ge (len $allProjects) 1 }}
    <div class="pa3 pa4-ns w-100 mw8 center">

      <h2 class="section-heading f2 fw7">Some projects...</h2>

      {{ $toShow := $featured }}
      {{ if eq (len $featured) 0 }}{{ $toShow = collections.First 4 $allSorted }}{{ end }}
      <section class="w-100">
        {{ range $toShow }}
          <div class="w-100 mb4 relative">
            {{ .Render "summary-with-image" }}
          </div>
        {{ end }}
      </section>

      <section class="w-100 mt3">
        <a href="/projects/" class="ba b--moon-gray br2 color-inherit dib f6 hover-bg-moon-gray link ph3 pv2" style="color:#E07828; border-color:#7A1508;">
          → View all projects
        </a>
      </section>

    </div>
  {{ end }}
{{ end }}
